$font-family-primary: "IBM-Plex-Sans";
$font-size-title: 4em;
$font-size-subtitle: 3em;
$font-size-sub-subtitle:2.5em;
$font-size-text: 2em;
$box-shadow-boton: 0 0 15px white;
$background-card: rgb(41, 41, 51);